#container {
	height: 600px;
	width: 100%;
}

#top-left-container {
	height: 132px;
	width: 40%;
	float: left;
}

#bottom-left-container {
	height: 132px;
	width: 40%;
	float: left;
}

.right-containers {
	height: 132px;
	width: 12%;
	float: left;
}

td {
	font-size: 75%;
}

table {
    border: 1px solid blue;
	width: 100%;
	height: 132px;
}

table:hover {
	background-color: lightblue;
}

th {
	background-color: yellow;
}

